.example-spacer {
  flex: 1 1 auto;
}
.landingToolbar {
  background-color: tomato;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 5;

  img {
    height: 3.5em;
  }

  .logoutButton {
    position: fixed;
    right: 2em;
    top: 4em;
  }
  .searchButton {
    position: fixed;
    right: 7em;
    top: 4em;
  }
  .favoritesButton {
    position: fixed;
    right: 12em;
    top: 4em;
  }
  .trendingButton {
    position: fixed;
    right: 18em;
    top: 4em;
  }
}
