<!--<div *ngIf="!isSignedIn">-->
<!--  <mat-toolbar class="landingToolbar">-->
<!--    <img src="../assets/golom.png">-->
<!--    <h1>GOLOM'S GIFS</h1>-->
<!--  </mat-toolbar>-->

<!--  <div class="artAndFormsWrapper">-->
<!--    <iframe class="sword1" scrolling="no" src="https://webstockreview.net/images/sword-clipart-animation-10.gif"></iframe>-->
<!--    <div class="signInOrUp">-->
<!--      <div class="signy1">-->
<!--        <h2>Sign Up</h2>-->
<!--        <input type="text" #emailSignup />-->
<!--        <input type="text" #passwordSignup />-->
<!--        <button (click)="onSignup(emailSignup.value,passwordSignup.value)">Sign Up</button>-->
<!--      </div>-->
<!--      <hr>-->
<!--      <div  class="signy2" *ngIf="!isSignedIn">-->
<!--        <h2>Login</h2>-->
<!--        <input type="text" #email />-->
<!--        <input type="text" #password />-->
<!--        <button (click)="onSignin(email.value, password.value)">Sign In</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  &lt;!&ndash;  <img class="abc" src="./src/assets/sword.gif">&ndash;&gt;-->
<!--    <iframe class="sword2" scrolling="no" src="https://webstockreview.net/images/sword-clipart-animation-10.gif"></iframe>-->
<!--  </div>-->
<!--</div>-->

<app-top-nav></app-top-nav>

<!--<app-home *ngIf="isSignedIn" (isLogout)="handleLogout()">-->
<!--</app-home>-->
<router-outlet></router-outlet>

<!--<div (isLogout)="handleLogout()">-->
<!--<router-outlet *ngIf="isSignedIn"></router-outlet>-->
<!--</div>-->
