<app-top-nav></app-top-nav>
<h1>Search</h1>
<div id="searchBar">
  <input #inputBox (keyup.enter)="apiCall(inputBox.value)" id="searchInput" type="text" placeholder="Search for any Gifs!">
  <button (click)="apiCall(inputBox.value)" id="searchButton"><img src="./assets/search.svg"></button>
</div>
<div id="content">
  <div id="gifContainer">
    <div class="gifDiv" *ngFor="let gif of searchedGifs">
      <div class='gifDiv'>
        <img class='mainImage' src="{{ gif.images.downsized.url }}">
        <img class='iconImage' *ngIf="!favedGifs.includes(this.gif.images.downsized.url)" (click)='addToFavs(this.gif.images.downsized.url)' src='./assets/hollowHeart.png'>
        <img class='iconImage' *ngIf="favedGifs.includes(this.gif.images.downsized.url)" (click)='removeFromFavs(this.gif.images.downsized.url)' src='./assets/fullHeart.png'>
      </div>
    </div>
  </div>
</div>
