.example-spacer {
  flex: 1 1 auto;
}
.landingToolbar {
  background-color: tomato;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 5;

  img {
    height: 3.5em;
  }

  .logoutButton {
    position: fixed;
    right: 2em;
    top: 4em;
  }
  .searchButton {
    position: fixed;
    right: 7em;
    top: 4em;
  }
  .favoritesButton {
    position: fixed;
    right: 12em;
    top: 4em;
  }
  .trendingButton {
    position: fixed;
    right: 18em;
    top: 4em;
  }
}

.content {
  width: 100vw;
  display: flex;

}

#content {
  width: auto;
  background-color: #495057;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6em;
  // column-count: 5;

  #contentHeader {
    color: white;
    font-size: 4em;
    // width: 60vw;
    text-align: center;
    margin: 50px 20px;
    font-family: 'Rubik', sans-serif;

    @media (max-width: 400px) {
      font-size: 2em;
    }
  }

  #gifContainer {
    padding-top: 15px;
    column-count: 6;
    margin: 10px 2em 0 2em;
    padding-bottom: 100px;

    @media (max-width: 1500px) {
      column-count: 5;
    }
    @media (max-width: 1200px) {
      column-count: 4;
    }
    @media (max-width: 1000px) {
      column-count: 3;
    }
    @media (max-width: 800px) {
      column-count: 2;
    }

    .gifDiv {
      position: relative;
      border-radius: 10px;
      margin-bottom: 10px;
      margin-right: 5px;
      .mainImage {
        $img-size: 15em;
        width: 100%;
        height: auto;
        border-radius: inherit;
      }
      .iconImage {
        position: absolute;
        display: none;
        bottom: 15px;
        left: 15px;
        z-index: 123;
        height: 2em;
        cursor: pointer;
      }
      &:hover {
        .iconImage {
          cursor: pointer;
          display: block;
        }
      }
      @media (hover: none) {
        .iconImage {
          display: block;
        }
      }
    }
  }
}
