.example-spacer {
  flex: 1 1 auto;
}
.landingToolbar {
  background-color: tomato;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 3.5em;
  }
}

.content {
  width: 100vw;
  display: flex;

}
